    <div id="art-main">
        {% include 'pages/includes/menu1.html' %}
        <div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content">
                            {% include 'pages/elements/main_page_filters.html' %}
                            {% include 'pages/tables/main_page_table.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% include 'pages/includes/footer.html' %}
</div>