<h3>
            1 Правило: выставление плана по С2, согласно бюджетной форме в резерве категория розницы и группа (пример: признак группы категория розницы)
        </h3>
        <p>&nbsp;
            <a href="" class="art-facebook-tag-icon" style="line-height: 32px;">
                business_unit
            </a>&nbsp; &nbsp; &nbsp;&nbsp;
            <a href="" class="art-facebook-tag-icon" style="line-height: 32px;">
                Год: 2024
            </a>&nbsp; &nbsp; &nbsp;&nbsp;
            <a href="" class="art-facebook-tag-icon" style="line-height: 32px;">
                Группа: Матрасы
            </a>&nbsp;<br></p>