<div class="art-block clearfix">
                                <div class="art-blockcontent">
                                    <p><input type="text">&nbsp; &nbsp;&nbsp;<input type="text">&nbsp; &nbsp; &nbsp;
                                        &nbsp;&nbsp;&nbsp;<a href="" class="art-button">Новый
                                            расчёт</a>&nbsp;<a href="" class="art-button">Обновить трансферт</a>&nbsp;<a
                                            href="" class="art-button">Обновить С1</a>&nbsp;<a href=""
                                            class="art-button">Пересчитать цены</a>&nbsp;<br></p>
                                </div>
                            </div>
                            <div class="art-block clearfix">
                                <div class="art-blockcontent">
                                    <p><span style="color: rgb(31, 40, 51);">&nbsp;<a href=""
                                        class="art-rss-tag-icon"
                                        style=""></a>&nbsp;&nbsp;<a class="art-twitter-tag-icon"
                                        href=""></a>&nbsp;&nbsp; &nbsp;
                                        <a class="art-facebook-tag-icon" style="line-height: 32px;"
                                            href="">business_unit:
                                            ГК Аскона
                                        </a>&nbsp;&nbsp;
                                        <a class="art-facebook-tag-icon" style="line-height: 32px;"
                                        href="">Категория:
                                            ткани
                                        </a>&nbsp;&nbsp;
                                        <a class="art-facebook-tag-icon" style="line-height: 32px;"
                                           href="">Тип:
                                            Производство или закупная
                                        </a>&nbsp;&nbsp;
                                        <a class="art-facebook-tag-icon" style="line-height: 32px;"
                                           href="">Статус:
                                            действующий
                                        </a>&nbsp; &nbsp;&nbsp;&nbsp;
                                        <a class="art-facebook-tag-icon" style="line-height: 32px;"
                                            href="">Группа:
                                            Матрасы
                                        </a>&nbsp;</span><br></p>
                                    </div>
                                </div>
                            <div class="art-block clearfix">
                                <div class="art-blockcontent">
                                    <p><a  class="art-tumblr-tag-icon"
                                           style="margin-top: -57px; line-height: 52px;"
                                        href=""></a>&nbsp;
                                        <a href="" class="button">
                                          Подгруппа (0) (A-Z)
                                          <span class="sub-text">
                                              Доп. текст
                                          </span>
                                        </a>
                                        <a href="" class="button">
                                          Категория розницы
                                          <span class="sub-text">
                                              Доп. текст
                                          </span>
                                        </a>
                                        <a href="" class="button">
                                          Сегмент (0) (A-Z)
                                          <span class="sub-text">
                                              Доп. текст
                                          </span>
                                        </a>
                                        <a href="" class="button">
                                          Серия (0) (A-Z)
                                          <span class="sub-text">
                                              Доп. текст
                                          </span>
                                        </a>
                                        <a href="" class="button">
                                          Размер (0) (A-Z)
                                          <span class="sub-text">
                                              Доп. текст
                                          </span>
                                        </a>
                                        &nbsp;
                                        <a class="art-tumblr-tag-icon"
                                            style="margin-top: -57px; line-height: 32px;"
                                            href=""
                                        ></a>&nbsp;

                                        <a href="" class="button">
                                              Текущий расчёт
                                              <span class="sub-text">
                                                  Доп. текст
                                              </span>
                                        </a>
                                        <a href="" class="button">
                                              Меры расчёта
                                              <span class="sub-text">
                                                  Доп. текст
                                              </span>
                                        </a>
                                        <br></p>
                                </div>
                            </div>
