<h3>Матрица соответствия групп и правил</h3>
            <table class="art-article" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 25%;"><br></td>
                        <td style="width: 25%;"><br></td>
                        <td style="width: 25%;"><br></td>
                        <td style="width: 25%;"><br></td>
                    </tr>
                    <tr>
                        <td style="width: 25%;"><br></td>
                        <td style="width: 25%;"><br></td>
                        <td style="width: 25%;"><br></td>
                        <td style="width: 25%;"><br></td>
                    </tr>
                </tbody>
            </table><br>