<table class="art-article" style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
        <tr>
            <td style="width: 50%;"><br></td>
            <td style="width: 50%;"><br></td>
        </tr>
    </tbody>
</table>